{% extends 'base.html' %}

{% block title %}Fast and Reliable Air Freight - BTS Logistics{% endblock %}

{% block content %}
<section class="content-container air-freight">
    <div class="air-container">

    </div>
    <div class="text-container">
        <h1>AIR FREIGHT</h1>
        <h1>Swift and Reliable Air Freight Services</h1>
        <p>Air freight is the epitome of rapid and dependable transportation in the logistics <br>
            and supply chain industry. When time is of the essence, air freight is the solution.</p>

        <p>At BTS Logistics, we specialize in providing speedy and reliable air freight services to meet your, <br>
            urgent delivery requirements. Our network spans the globe, connecting you to major airports worldwide.</p>

        <h2>Our Air Freight Services Include:</h2>
        <ul>
            <li>Express Air Cargo Services</li>
            <li>Charter Flights for Specialized Shipments</li>
            <li>Time-Definite Deliveries</li>
            <li>Door to Door Air Freight Solutions</li>
            <li>Customized Air Cargo Services</li>
        </ul>

        <h2>Why Choose BTS Logistics for Air Freight?</h2>
        <ul>
            <li>Air Freight Specialists</li>
            <li>Prompt and Secure Deliveries</li>
            <li>Flexible Solutions for Your Urgent Needs</li>
        </ul>
    </div>
</section>
{% endblock %}