{% extends 'base.html' %}

{% block title %}Efficient Distribution Solutions - Arisfa Logistics{% endblock %}

{% block content %}
   <section class="distribution content-container">
    <div class="distribution-container">
       
    </div>
    <div class="text-container">
        <h1>DISTRIBUTION</h1>
       <h1>Efficient Distribution Solutions</h1>
       <p>Distribution is the final link in the supply chain, ensuring that your products reach their destination on time and <br>
        in optimal condition. Arisfa Logistics specializes in efficient distribution services to meet your product delivery needs.</p>

       <p>At Arisfa Logistics, we provide tailored distribution solutions, <br>
        optimizing your product's journey from your facility to its final destination. <br>
         Our logistics expertise ensures that your goods are delivered efficiently and with care.</p>

       <h2>Our Distribution Services Include:</h2>
       <ul>
           <li>Last-Mile Delivery</li>
           <li>Warehousing and Inventory Management</li>
           <li>Route Optimization</li>
           <li>Timely Delivery Scheduling</li>
           <li>Reverse Logistics Solutions</li>
       </ul>

       <h2>Why Choose Arisfa Logistics for Distribution?</h2>
       <ul>
           <li>Experienced Distribution Specialists</li>
           <li>Timely and Reliable Deliveries</li>
           <li>Customizable Distribution Solutions</li>
       </ul>
    </div>
   </section>
{% endblock %}
