{% extends 'base.html' %}

{% block title %}Efficient Ocean Freight Solutions - BTS Logistics{% endblock %}

{% block content %}
   <section class="ocean-freight content-container">
    <div class="background-container">
       
    </div>
    
    <div class="text-container">
        <h1>OCEAN FREIGHT</h1>
       <h1>The Economical Choice for Shipping Goods</h1>
       <p>Ocean freight is a cornerstone of efficient transportation and <br>
        supply chain solutions. It not only ensures punctuality but is also, <br>
        celebrated as a cost-effective mode of international transportation.</p>

       <p>At BTS Logistics, we are committed to providing trustworthy and <br>
        budget-friendly ocean freight services, connecting you to major ports worldwide. <br>
         Our strong partnerships and contracts with various carriers allow us to offer, <br>
         flexible sailing schedules, multiple departure and arrival options, all at highly competitive rates.</p>

       <p>With MyBTS, our online freight management system, you gain round-the-clock <br>
         visibility into your shipments, right from their origin to their final destination.</p>

       <h2>Our Ocean Freight Services Include:</h2>
       <ul>
           <li>FCL (Full Container Load)</li>
           <li>LCL (Less than Container Load)</li>
           
           <li>Buyers / Sellers Consolidations</li>
           <li>Projects and Break-bulk shipments</li>
           <li>Cross trades (third country to third country)</li>
           <li>Door to Door transportation</li>
       </ul>

       <h2>Why Choose BTS Logistics for Ocean Freight?</h2>
       <ul>
           <li>Ocean Freight Experts</li>
           <li>Swift Transit Times</li>
           <li>Highly Competitive Rates</li>

        </div>
       </ul>
   </section>
{% endblock %}
