{% extends 'base.html' %}


{% block title %}Reliable Rail Freight Services - BTS Logistics{% endblock %}

{% block content %}
   <section class="rail-freight content-container">
    <div class="rail-container">
       
    </div>
    <div class="text-container">

       <h1>RAIL FREIGHT</h1>
       <p>Rail freight is a dependable and sustainable mode of land-based,<br>
        transportation ideal for moving goods efficiently across regions.</p>

       <p>At Arisifa Logistics, we offer reliable rail freight options for your transportation needs. <br>
         Our extensive rail network connects you to key destinations, ensuring your cargo reaches its destination securely and on time.</p>

       <h2>Our Rail Freight Services Include:</h2>
       <ul>
           <li>Dedicated Rail Transport Services</li>
           
           <li>Cost-Effective Rail Shipping</li>
           <li>Door to Door Rail Transportation</li>
           
           <li>Specialized Rail Solutions for Cargo of All Types</li>
           <li>Intermodal Rail Services for Combined Shipping Methods</li>
       </ul>

       <h2>Why Choose BTS Logistics for Rail Freight?</h2>
       <ul>
           <li>Rail Freight Experts</li>
           <li>Reliable and Sustainable Transportation</li>
           <li>Flexible Solutions to Meet Your Needs</li>
       </ul>

    </div>  
   </section>
{% endblock %}
